@charset "UTF-8";

/* icon */
[class^="ico-"] {
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position: 50% 50%;
    background-size: contain;
}

//background 처리
.ico-letter{
	width: 96px;
	height: 96px;
    background-image: url("@/assets/images/icon/ico_letter.png");
}

.ico-arrow{
	width: 24px;
	height: 24px;
    background-image: url("@/assets/images/icon/ico_arrow.svg");
}

.ico-close{
	width: 15px;
	height: 15px;
    background-image: url("@/assets/images/icon/ico_close.svg");
}