@charset "UTF-8";

$CBrand: #ffc000;

$CText: #000;
$CText2: #222;
$CText3: #777;
$CText4: #999;
$CText5: #bbb;

$CBg: #ddd;
$CBg2: #eee;
$CBg3: #f9f9f9;


$font: NanumSquareRound, sans-serif;
$fonten: LeferiPoint, sans-serif;
